<ion-view view-title="Bebidas">
  <ion-content class="has-subheader">

    <div class="row responsive-sm">
	<!-- Lista de Cards -->
		<div class="list card">
		  <div class="item item-image" href="#/app/items">
		    <img src="img/chopp.jpg">
		  </div>
		  <a class="item item-text-wrap" href="#/app/items"><h2>Chopp</h2></a>
		</div>

		<div class="list card">
		  <div class="item item-image">
		    <img src="img/longneck.jpg">
		  </div>
		  <a class="item item-text-wrap" href="#"><h2>Longnecks</h2></a>
		</div>

		<div class="list card">
		  <div class="item item-image">
		    <img src="img/wine.jpg">
		  </div>
		  <a class="item item-text-wrap" href="#"><h2>Vinhos</h2></a>
		</div>

		<div class="list card">
		  <div class="item item-image">
		    <img src="img/sucos.jpg">
		  </div>
		  <a class="item item-text-wrap" href="#"><h2>Sucos de Fruta</h2></a>
		</div>
	</div>
	
	<div class="row responsive-sm">
	<!-- Lista de Cards -->
		<div class="list card">
		  <div class="item item-image" href="#/app/items">
		    <img src="img/chopp.jpg">
		  </div>
		  <a class="item item-text-wrap" href="#/app/items"><h2>Chopp</h2></a>
		</div>

		<div class="list card">
		  <div class="item item-image">
		    <img src="img/longneck.jpg">
		  </div>
		  <a class="item item-text-wrap" href="#"><h2>Longnecks</h2></a>
		</div>

		<div class="list card">
		  <div class="item item-image">
		    <img src="img/wine.jpg">
		  </div>
		  <a class="item item-text-wrap" href="#"><h2>Vinhos</h2></a>
		</div>

		<div class="list card">
		  <div class="item item-image">
		    <img src="img/sucos.jpg">
		  </div>
		  <a class="item item-text-wrap" href="#"><h2>Sucos de Fruta</h2></a>
		</div>
	</div>

  </ion-content>
</ion-view>
