<ion-view view-title="Item">
  <ion-content>
    
    <h1>Longneck</h1>

    <div class="list">

	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="http://placehold.it/150x150">
	      <h2>Heinecken</h2>
	      <p>Nine Inch Nails</p>

	      <i class="icon ion-social-usd-outline"></i>

	    </a>

	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="http://placehold.it/150x150">
	      <h2>Heinecken</h2>
	      <p>Nine Inch Nails</p>

	      <i class="icon ion-social-usd-outline"></i>

	    </a>

	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="http://placehold.it/150x150">
	      <h2>Heinecken</h2>
	      <p>Nine Inch Nails</p>

	      <i class="icon ion-social-usd-outline"></i>

	    </a>

	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="http://placehold.it/150x150">
	      <h2>Heinecken</h2>
	      <p>Nine Inch Nails</p>

	      <i class="icon ion-social-usd-outline"></i>

	    </a>

	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="http://placehold.it/150x150">
	      <h2>Heinecken</h2>
	      <p>Nine Inch Nails</p>

	      <i class="icon ion-social-usd-outline"></i>

	    </a>

	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="http://placehold.it/150x150">
	      <h2>Heinecken</h2>
	      <p>Nine Inch Nails</p>

	      <i class="icon ion-social-usd-outline"></i>

	    </a>

	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="http://placehold.it/150x150">
	      <h2>Heinecken</h2>
	      <p>Nine Inch Nails</p>

	      <i class="icon ion-social-usd-outline"></i>

	    </a>


	



	</div>
  </ion-content>
</ion-view>
